body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p a  {
    color: beige;
}
p a.selected, p a:hover {
    color: #A8E9FF;
}

main {
    flex: 1 0 auto;
}


/*Blog Posts*/

.blog-post{
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}

.content {
    padding-top: 57px;
    padding-left: 10px;
}

html {
   font-family: 'Inconsolata';
 }
 
 header, main, footer {
     padding-left: 240px;
   }

   @media only screen and (max-width : 992px) {
     header, main, footer {
       padding-left: 0;
     }
   }
   
